.description {
    padding: 150px 405px 150px 405px;
}
.about__title-short_length {
    width: 209px;
}
.about__container {
    display: flex;
    margin: 100px 0px 0px 0px;
}
.about__title-box {
    margin: 0px 30px 0px 0px;
}
.main__title-text {
    font-weight: 300;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
}
.main__title-span {
    color: #D1A954;
}
.about__title {
    font-weight: 700;
    font-size: 21px;
    line-height: 29px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0px 0px 40px 0px;
}
.about__p {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    width: 445px;
    font-family: 'Open Sans';
    height: 210px;    
    color: #FFFFFF;
}

.about__number-description {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.05em;
    width: 166px;
    color: #fff;
    margin: 15px 0px 25px 0px;
}
.about__number-container {
    margin: 0px 30px 0px 0px;
}
.about__number-description-span {
    color: #D1A954;
}
@media screen and (max-width: 992px) {
    .description {
        padding: 150px 190px 150px 190px;
    }
    .about__picture {
        display: none;
    }

    }
    
    @media screen and (max-width: 768px) {
        .description {
            padding: 90px 39px 90px 39px;
        }

        }
        
        @media screen and (max-width: 576px) {
            .description {
                padding: 80px 33px 80px 33px;
            }
            .about__container {
                display: flex;
                flex-direction: column;
            }
            .about__number-box {
                display: flex;
            }
            .about__number-block {
                margin: 0px 60px 0px 0px;
            }
            .about__p {
                text-align: center;
            }
            .about__title {
                text-align: center;
                
            }
            .about__title-box {
                margin: 0px 30px 27px 0px;
            }
            .about__number-container {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            
            .about__title-short_length {
                width: auto;
            }
            }
            